@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", "sans-serif";
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #000021;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 17px;
}

button:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px;
}

.main-heading, .main-description, .open-hours {
  display: flex;
  justify-content: end;
}

.main-heading {
  font-family: "Lobster", "sans-serif";
  font-size: 50px;
  margin: 120px 70px 0 0;
}

.main-description {
  font-family: "Roboto", "sans-serif";
  font-size: 20px;
  margin: 30px 120px 0 0;
}

.open-hours {
  font-family: "Roboto", "sans-serif";
  font-size: 20px;
  margin: 30px 250px 0 0;
}